// COLOR PALETTE
$black: #000000;
$white: #ffffff;
$gray950: #2f2f2f;
$gray800: #444444;
$gray500: #7a7a7a;
$gray400: #929292;
$gray300: #b1b1b1;
$gray200: #d9d9d9;
$gray50: #fafafa;
$green700: #147a73;
$green400: #3cb3ab;
$green50: #f3f8f8;

// SEMANTIC VALUES
$clr-body-bg: $gray50;
$clr-body-text-primary: $gray500;
$clr-body-text-dark: $black;
$clr-container-bg: $white;
$clr-container-border: $gray200;
$clr-accent: $green400;
$clr-white: $white;
$clr-out-of-stock: $gray400;
$clr-btn-hover: $green700;
$clr-svg-path: $gray300;
